<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ota.imhere" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>I\'m here!</name>
    <description>
        This application is for those who are meeting with someone.
    </description>
    <author email="036.tamaki@gmail.com" href="http://ota.com/irj">
        Ota
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
